* {
    margin: 0;
    padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.container h1 {
  color: rgb(9, 9, 132);
  margin-top: 20px;
  margin-bottom: 20px;
}

.box {
  max-width: 250px;
  background: #673AB7;
  height: 150px;
  border:1px solid red;
}

.box h1, .box p {
  padding: 10px;
}